## [cnes.datasus.gov.br - downloads base de dados](http://cnes.datasus.gov.br/pages/downloads/arquivosBaseDados.jsp)


* Tabnet Datasus Acesso de dados: http://tabnet.datasus.gov.br/cgi/tabcgi.exe?cnes/cnv/leiintbr.def
* Tabnet Datasus TABWIN programas: http://tabnet.datasus.gov.br/cgi/menu_baixa_tabwin.htm
* Notas técnicas sobre o CNES: http://tabnet.datasus.gov.br/cgi/cnes//NT_RecursosFísicos.htm#origem
* CNES Download base de dados: http://cnes.datasus.gov.br/pages/downloads/arquivosBaseDados.jsp
* CNES Consulta de equipamentos: http://cnes2.datasus.gov.br/Mod_Ind_Equipamento.asp?VEstado=33&VMun=330455
* SQL Novidades no TabWin 3.0 a 3.6: http://www2.datasus.gov.br/DATASUS/tabwin/DocTabWin.htm#sqlintro
* PROADESS FIOCRUZ: https://www.proadess.icict.fiocruz.br/index.php?pag=cruzar2&item=2017

In [24]:
import os
import pandas as pd
import numpy as np

In [25]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [26]:
path = "D:\\Downloads\\BASE_DE_DADOS_CNES\\BASE_DE_DADOS_CNES_202004\\"

In [27]:
csv_files = []
for root, subfolder, files in os.walk(path):
    csv_files.append(files)

csv_files = [i for lists in csv_files for i in lists]
csv_files_size_MB = [{file: os.path.getsize(path+"\\"+file)/1000000} for file in csv_files]

print("{0} Type: {1} Len: {2}".format(csv_files, type(csv_files), len(csv_files)))
print("{0}".format(csv_files_size_MB))

['rlAdmGerenciaCnes202004.csv', 'rlAtividadeObrigatoria202004.csv', 'rlCooperativa202004.csv', 'rlEquipeAldeia202004.csv', 'rlEquipeNasfEsf202004.csv', 'rlEstabAtendPrestConv202004.csv', 'rlEstabAtenPsico202004.csv', 'rlEstabAvaliacao202004.csv', 'rlEstabCentralReg202004.csv', 'rlEstabColetaSelRejeito202004.csv', 'rlEstabComissaoOutro202004.csv', 'rlEstabComplementar202004.csv', 'rlEstabEndCompl202004.csv', 'rlEstabEqpEmbarcacao202004.csv', 'rlEstabEqpUnidApoio202004.csv', 'rlEstabEquipamento202004.csv', 'rlEstabEquipeMun202004.csv', 'rlEstabEquipeProf202004.csv', 'rlEstabInstFisiAssist202004.csv', 'rlEstabOrgParc202004.csv', 'rlEstabPoloAldeia202004.csv', 'rlEstabProfComissao202004.csv', 'rlEstabProgFundo202004.csv', 'rlEstabRegimeRes202004.csv', 'rlEstabRepresentante202004.csv', 'rlEstabSamu202004.csv', 'rlEstabServClass202004.csv', 'rlEstabServicoApoio202004.csv', 'rlEstabSipac202004.csv', 'rlEstabSubTipo202004.csv', 'rlEstabTeleCnes202004.csv', 'rlEstabUnidAcolhim202004.csv', 'rlMunAtenPsico202004.csv', 'rlMunRegimeRes202004.csv', 'rlMunUnidAcolhim202004.csv', 'rlNasfEsf202004.csv', 'rlTipoEstabAtividade202004.csv', 'tbAldeia202004.csv', 'tbArea202004.csv', 'tbAtendimentoPrestado202004.csv', 'tbAtividade202004.csv', 'tbAtividadeEnsino202004.csv', 'tbAtividadeProfissional202004.csv', 'tbAtributo202004.csv', 'tbAvaliacao202004.csv', 'tbBanco202004.csv', 'tbCargaHorariaSus202004.csv', 'tbClassificacaoAval202004.csv', 'tbClassificacaoServico202004.csv', 'tbColetaSeletivaRejeito202004.csv', 'tbComissaoOutro202004.csv', 'tbConselhoClasse202004.csv', 'tbConvenio202004.csv', 'tbDadosProfissionalSus202004.csv', 'tbDialise202004.csv', 'tbDsei202004.csv', 'tbEquipamento202004.csv', 'tbEquipe202004.csv', 'tbEquipeAtendCompl202004.csv', 'tbEquipeChDifer202004.csv', 'tbEstabAtivSecundaria202004.csv', 'tbEstabContrato202004.csv', 'tbEstabelecimento202004.csv', 'tbEstabHorarioAtend202004.csv', 'tbEstado202004.csv', 'tbEtnia202004.csv', 'tbFluxoDadosClientela202004.csv', 'tbGestao202004.csv', 'tbGrupoAtividade202004.csv', 'tbGrupoEquipe202004.csv', 'tbHemoterapia202004.csv', 'tbIncentivos202004.csv', 'tbInstalFisicaParaAssist202004.csv', 'tbInstituicaoAvaliadora202004.csv', 'tbLeito202004.csv', 'tbMantenedora202004.csv', 'tbModVinculo202004.csv', 'tbMotivoDesativacao202004.csv', 'tbMotivoDesativEquipe202004.csv', 'tbMunicipio202004.csv', 'tbNaturezaJuridica202004.csv', 'tbOrgaoEmissor202004.csv', 'tbPoloBase202004.csv', 'tbProfResidencia202004.csv', 'tbQuimioRadio202004.csv', 'tbResidenciaMed202004.csv', 'tbSegmento202004.csv', 'tbServicoApoio202004.csv', 'tbServicoEspecializado202004.csv', 'tbServicoReferenciado202004.csv', 'tbSubGruposHabilitacao202004.csv', 'tbSubTipo202004.csv', 'tbSubTipoEquipe202004.csv', 'tbSubtipoInstalacao202004.csv', 'tbSubTpModVinculo202004.csv', 'tbTipoCertidao202004.csv', 'tbTipoCgDifer202004.csv', 'tbTipoEqSubTipo202004.csv', 'tbTipoEquipamento202004.csv', 'tbTipoEquipe202004.csv', 'tbTipoEscolaridade202004.csv', 'tbTipoEstabelecimento202004.csv', 'tbTipoInstalacaoFisica202004.csv', 'tbTipoServicoReferenciado202004.csv', 'tbTipoUnidade202004.csv', 'tbTpModVinculo202004.csv', 'tbTurnoAtendimento202004.csv'] Type: <class 'list'> Len: 107
[{'rlAdmGerenciaCnes202004.csv': 0.155532}, {'rlAtividadeObrigatoria202004.csv': 0.000221}, {'rlCooperativa202004.csv': 0.125846}, {'rlEquipeAldeia202004.csv': 0.000572}, {'rlEquipeNasfEsf202004.csv': 4.660196}, {'rlEstabAtendPrestConv202004.csv': 37.594972}, {'rlEstabAtenPsico202004.csv': 0.131521}, {'rlEstabAvaliacao202004.csv': 0.084444}, {'rlEstabCentralReg202004.csv': 0.517999}, {'rlEstabColetaSelRejeito202004.csv': 28.084626}, {'rlEstabComissaoOutro202004.csv': 4.570309}, {'rlEstabComplementar202004.csv': 4.260507}, {'rlEstabEndCompl202004.csv': 0.690994}, {'rlEstabEqpEmbarcacao202004.csv': 0.033313}, {'rlEstabEqpUnidApoio202004.csv': 0.0234}, {'rlEstabEquipamento202004.csv': 57.818614}, {'rlEstabEquipeMun202004.csv': 0.003359}, {'rlEstabEquipeProf202004.csv': 88.774261}, {'rlEstabInstFisiAssist202004.csv': 42.428879}, {'rlEstabOrgParc202004.csv': 0.002666}, {'rlEstabPoloAldeia202004.csv': 0.059791}, {'rlEstabProfComissao202004.csv': 2.07826}, {'rlEstabProgFundo202004.csv': 24.786598}, {'rlEstabRegimeRes202004.csv': 0.01936}, {'rlEstabRepresentante202004.csv': 0.283108}, {'rlEstabSamu202004.csv': 0.843319}, {'rlEstabServClass202004.csv': 85.336005}, {'rlEstabServicoApoio202004.csv': 22.480115}, {'rlEstabSipac202004.csv': 8.140783}, {'rlEstabSubTipo202004.csv': 4.658202}, {'rlEstabTeleCnes202004.csv': 1.25319}, {'rlEstabUnidAcolhim202004.csv': 0.052683}, {'rlMunAtenPsico202004.csv': 0.05007}, {'rlMunRegimeRes202004.csv': 0.002886}, {'rlMunUnidAcolhim202004.csv': 0.008563}, {'rlNasfEsf202004.csv': 0.102539}, {'rlTipoEstabAtividade202004.csv': 0.000377}, {'tbAldeia202004.csv': 0.93312}, {'tbArea202004.csv': 3.902711}, {'tbAtendimentoPrestado202004.csv': 0.000176}, {'tbAtividade202004.csv': 0.010819}, {'tbAtividadeEnsino202004.csv': 0.000197}, {'tbAtividadeProfissional202004.csv': 0.150108}, {'tbAtributo202004.csv': 0.000654}, {'tbAvaliacao202004.csv': 0.000541}, {'tbBanco202004.csv': 2.2e-05}, {'tbCargaHorariaSus202004.csv': 514.089761}, {'tbClassificacaoAval202004.csv': 0.000416}, {'tbClassificacaoServico202004.csv': 0.019085}, {'tbColetaSeletivaRejeito202004.csv': 0.000157}, {'tbComissaoOutro202004.csv': 0.000634}, {'tbConselhoClasse202004.csv': 0.000347}, {'tbConvenio202004.csv': 0.000196}, {'tbDadosProfissionalSus202004.csv': 552.54072}, {'tbDialise202004.csv': 0.199617}, {'tbDsei202004.csv': 0.00912}, {'tbEquipamento202004.csv': 0.003678}, {'tbEquipe202004.csv': 11.457202}, {'tbEquipeAtendCompl202004.csv': 0.028943}, {'tbEquipeChDifer202004.csv': 0.149617}, {'tbEstabAtivSecundaria202004.csv': 23.623146}, {'tbEstabContrato202004.csv': 0.00028}, {'tbEstabelecimento202004.csv': 181.956906}, {'tbEstabHorarioAtend202004.csv': 106.095691}, {'tbEstado202004.csv': 0.000639}, {'tbEtnia202004.csv': 0.008349}, {'tbFluxoDadosClientela202004.csv': 0.00017}, {'tbGestao202004.csv': 0.000225}, {'tbGrupoAtividade202004.csv': 0.000193}, {'tbGrupoEquipe202004.csv': 0.000213}, {'tbHemoterapia202004.csv': 0.4894}, {'tbIncentivos202004.csv': 1.302959}, {'tbInstalFisicaParaAssist202004.csv': 0.002164}, {'tbInstituicaoAvaliadora202004.csv': 0.000361}, {'tbLeito202004.csv': 0.002116}, {'tbMantenedora202004.csv': 2.255755}, {'tbModVinculo202004.csv': 0.000246}, {'tbMotivoDesativacao202004.csv': 0.000741}, {'tbMotivoDesativEquipe202004.csv': 0.000972}, {'tbMunicipio202004.csv': 0.40861}, {'tbNaturezaJuridica202004.csv': 0.004202}, {'tbOrgaoEmissor202004.csv': 0.001624}, {'tbPoloBase202004.csv': 0.08404}, {'tbProfResidencia202004.csv': 0.533707}, {'tbQuimioRadio202004.csv': 0.30996}, {'tbResidenciaMed202004.csv': 0.285459}, {'tbSegmento202004.csv': 1.039725}, {'tbServicoApoio202004.csv': 0.000395}, {'tbServicoEspecializado202004.csv': 0.00313}, {'tbServicoReferenciado202004.csv': 1.66745}, {'tbSubGruposHabilitacao202004.csv': 0.029396}, {'tbSubTipo202004.csv': 0.003564}, {'tbSubTipoEquipe202004.csv': 9.6e-05}, {'tbSubtipoInstalacao202004.csv': 0.000214}, {'tbSubTpModVinculo202004.csv': 0.01211}, {'tbTipoCertidao202004.csv': 0.000103}, {'tbTipoCgDifer202004.csv': 0.00014}, {'tbTipoEqSubTipo202004.csv': 0.000593}, {'tbTipoEquipamento202004.csv': 0.000342}, {'tbTipoEquipe202004.csv': 0.003537}, {'tbTipoEscolaridade202004.csv': 0.000325}, {'tbTipoEstabelecimento202004.csv': 0.001075}, {'tbTipoInstalacaoFisica202004.csv': 0.00014}, {'tbTipoServicoReferenciado202004.csv': 0.001275}, {'tbTipoUnidade202004.csv': 0.001523}, {'tbTpModVinculo202004.csv': 0.001284}, {'tbTurnoAtendimento202004.csv': 0.000392}]

In [28]:
df_csv_files_size_MB = pd.DataFrame(csv_files_size_MB)
df_csv_files_size_MB.head()

,rlAdmGerenciaCnes202004.csv,rlAtividadeObrigatoria202004.csv,rlCooperativa202004.csv,rlEquipeAldeia202004.csv,rlEquipeNasfEsf202004.csv,rlEstabAtendPrestConv202004.csv,rlEstabAtenPsico202004.csv,rlEstabAvaliacao202004.csv,rlEstabCentralReg202004.csv,rlEstabColetaSelRejeito202004.csv,rlEstabComissaoOutro202004.csv,rlEstabComplementar202004.csv,rlEstabEndCompl202004.csv,rlEstabEqpEmbarcacao202004.csv,rlEstabEqpUnidApoio202004.csv,rlEstabEquipamento202004.csv,rlEstabEquipeMun202004.csv,rlEstabEquipeProf202004.csv,rlEstabInstFisiAssist202004.csv,rlEstabOrgParc202004.csv,rlEstabPoloAldeia202004.csv,rlEstabProfComissao202004.csv,rlEstabProgFundo202004.csv,rlEstabRegimeRes202004.csv,rlEstabRepresentante202004.csv,rlEstabSamu202004.csv,rlEstabServClass202004.csv,rlEstabServicoApoio202004.csv,rlEstabSipac202004.csv,rlEstabSubTipo202004.csv,rlEstabTeleCnes202004.csv,rlEstabUnidAcolhim202004.csv,rlMunAtenPsico202004.csv,rlMunRegimeRes202004.csv,rlMunUnidAcolhim202004.csv,rlNasfEsf202004.csv,rlTipoEstabAtividade202004.csv,tbAldeia202004.csv,tbArea202004.csv,tbAtendimentoPrestado202004.csv,tbAtividade202004.csv,tbAtividadeEnsino202004.csv,tbAtividadeProfissional202004.csv,tbAtributo202004.csv,tbAvaliacao202004.csv,tbBanco202004.csv,tbCargaHorariaSus202004.csv,tbClassificacaoAval202004.csv,tbClassificacaoServico202004.csv,tbColetaSeletivaRejeito202004.csv,...,tbEquipe202004.csv,tbEquipeAtendCompl202004.csv,tbEquipeChDifer202004.csv,tbEstabAtivSecundaria202004.csv,tbEstabContrato202004.csv,tbEstabelecimento202004.csv,tbEstabHorarioAtend202004.csv,tbEstado202004.csv,tbEtnia202004.csv,tbFluxoDadosClientela202004.csv,tbGestao202004.csv,tbGrupoAtividade202004.csv,tbGrupoEquipe202004.csv,tbHemoterapia202004.csv,tbIncentivos202004.csv,tbInstalFisicaParaAssist202004.csv,tbInstituicaoAvaliadora202004.csv,tbLeito202004.csv,tbMantenedora202004.csv,tbModVinculo202004.csv,tbMotivoDesativacao202004.csv,tbMotivoDesativEquipe202004.csv,tbMunicipio202004.csv,tbNaturezaJuridica202004.csv,tbOrgaoEmissor202004.csv,tbPoloBase202004.csv,tbProfResidencia202004.csv,tbQuimioRadio202004.csv,tbResidenciaMed202004.csv,tbSegmento202004.csv,tbServicoApoio202004.csv,tbServicoEspecializado202004.csv,tbServicoReferenciado202004.csv,tbSubGruposHabilitacao202004.csv,tbSubTipo202004.csv,tbSubTipoEquipe202004.csv,tbSubtipoInstalacao202004.csv,tbSubTpModVinculo202004.csv,tbTipoCertidao202004.csv,tbTipoCgDifer202004.csv,tbTipoEqSubTipo202004.csv,tbTipoEquipamento202004.csv,tbTipoEquipe202004.csv,tbTipoEscolaridade202004.csv,tbTipoEstabelecimento202004.csv,tbTipoInstalacaoFisica202004.csv,tbTipoServicoReferenciado202004.csv,tbTipoUnidade202004.csv,tbTpModVinculo202004.csv,tbTurnoAtendimento202004.csv
0,0.155532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0.000221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,0.125846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,0.000572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,4.660196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def read_csv_columns(path, file_name):
    file_columns = list(pd.read_csv(path+"\\"+file_name, sep=';', nrows=2).columns)
    return file_columns

def read_csv_data(path, file_name):
    files = pd.read_csv(path+"\\"+file_name, sep=';')
    #files = files.T
    return files
#     size_limit = 25
#     if os.path.getsize(path+"\\"+file_name)/1000000 < size_limit:
#         files = pd.read_csv(path+"\\"+file_name, sep=';')
#         # files = files.T
#         return files

In [30]:
file = csv_files[-96]
dict_file1 = pd.DataFrame(read_csv_columns(path, file))
# dict_file1 = dict_file1.T
print(file)
print(list(dict_file1.columns))
dict_file1.head()

rlEstabComplementar202004.csv
[0]

               0
0     CO_UNIDADE
1       CO_LEITO
2  CO_TIPO_LEITO
3    TP_ALTACOMP
4       QT_EXIST

In [31]:
{csv_files[-96]: '; '.join(str(i) for i in read_csv_columns(path,csv_files[-96]))}

{'rlEstabComplementar202004.csv': "CO_UNIDADE; CO_LEITO; CO_TIPO_LEITO; TP_ALTACOMP; QT_EXIST; QT_CONTR; QT_SUS; TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY'); CO_USUARIO; TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"}

In [32]:
def file_columns(path, list_of_files):
    df = pd.DataFrame({"None": "None"}.items(), columns=['file', 'columns'])
    
    for file in list_of_files:
        new_row = pd.DataFrame({file: '; '.join(str(i) for i in read_csv_columns(path,file))}.items(), columns=['file', 'columns'])
        df = df.append(new_row, ignore_index=True)
    
    df = df.iloc[1:]

    return df

file_columns = file_columns(path, csv_files)
file_columns.head()

,file,columns
1,rlAdmGerenciaCnes202004.csv,NU_CNPJ_ADM; CO_UNIDADE; TO_CHAR(DT_VIGENCIA_I...
2,rlAtividadeObrigatoria202004.csv,CO_TIPO_ESTABELECIMENTO; CO_ATIVIDADE_OBRIGATORIA
3,rlCooperativa202004.csv,CO_UNIDADE; CO_COOPERATIVA; CO_CBO; CO_USUARIO...
4,rlEquipeAldeia202004.csv,CO_MUNICIPIO; CO_AREA; CO_SEQ_EQUIPE; CO_ALDEI...
5,rlEquipeNasfEsf202004.csv,CO_MUNICIPIO; CO_AREA; SEQ_EQUIPE; CO_MUNICIPI...

In [33]:
file_columns[file_columns['columns'].str.contains("LEITO")]

,file,columns
12,rlEstabComplementar202004.csv,CO_UNIDADE; CO_LEITO; CO_TIPO_LEITO; TP_ALTACO...
19,rlEstabInstFisiAssist202004.csv,CO_UNIDADE; CO_INSTALACAO; QT_INSTALACAO; NU_L...
29,rlEstabSipac202004.csv,CO_UNIDADE; COD_SUB_GRUPO_HABILITACAO; CMTP_IN...
75,tbLeito202004.csv,CO_LEITO; DS_LEITO; TP_LEITO

In [34]:
list(file_columns[file_columns['columns'].str.contains("LEITO")]['file'])

['rlEstabComplementar202004.csv',
 'rlEstabInstFisiAssist202004.csv',
 'rlEstabSipac202004.csv',
 'tbLeito202004.csv']

In [35]:
rlEstabComplementar202004 = read_csv_data(path, 'rlEstabComplementar202004.csv')
rlEstabInstFisiAssist202004 = read_csv_data(path, 'rlEstabInstFisiAssist202004.csv')
rlEstabSipac202004 = read_csv_data(path, 'rlEstabSipac202004.csv')
tbLeito202004 = read_csv_data(path, 'tbLeito202004.csv')

In [36]:
print(rlEstabComplementar202004.info())
rlEstabComplementar202004.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56217 entries, 0 to 56216
Data columns (total 10 columns):
CO_UNIDADE                                     56217 non-null object
CO_LEITO                                       56217 non-null int64
CO_TIPO_LEITO                                  56217 non-null int64
TP_ALTACOMP                                    0 non-null float64
QT_EXIST                                       56217 non-null int64
QT_CONTR                                       81 non-null float64
QT_SUS                                         56217 non-null int64
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')           56172 non-null object
CO_USUARIO                                     56149 non-null object
TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')    56217 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 4.3+ MB
None

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,3550302752077,10,4,NaN,12,NaN,4,21/08/2019,CADASTRO,29/01/2014
1,3550302752077,13,1,NaN,15,NaN,8,21/08/2019,CADASTRO,29/01/2014
2,4106903000885,5,1,NaN,10,NaN,0,12/08/2019,JACQUES,24/12/2012
3,4106903000885,7,7,NaN,7,NaN,0,12/08/2019,JACQUES,24/12/2012
4,4106903000885,9,1,NaN,5,NaN,0,12/08/2019,JACQUES,24/12/2012

In [37]:
print(rlEstabInstFisiAssist202004.info())
rlEstabInstFisiAssist202004.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780412 entries, 0 to 780411
Data columns (total 7 columns):
CO_UNIDADE                                     780412 non-null object
CO_INSTALACAO                                  780412 non-null int64
QT_INSTALACAO                                  780409 non-null float64
NU_LEITOS                                      779709 non-null float64
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')           780412 non-null object
CO_USUARIO                                     777177 non-null object
TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')    0 non-null float64
dtypes: float64(3), int64(1), object(3)
memory usage: 41.7+ MB
None

,CO_UNIDADE,CO_INSTALACAO,QT_INSTALACAO,NU_LEITOS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2604107819587,1,1.0,0.0,02/04/2020,MONICAGUI,NaN
1,2312407396805,1,2.0,2.0,29/04/2020,SCNES,NaN
2,4202409571264,1,1.0,0.0,12/07/2019,JOYCE,NaN
3,5201457411944,1,1.0,0.0,27/11/2018,WENIA,NaN
4,3304557735022,1,1.0,0.0,27/05/2015,MARLENE,NaN

In [38]:
print(rlEstabSipac202004.info())
rlEstabSipac202004.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96104 entries, 0 to 96103
Data columns (total 9 columns):
CO_UNIDADE                              96104 non-null object
COD_SUB_GRUPO_HABILITACAO               96104 non-null int64
CMTP_INICIO                             96104 non-null int64
CMTP_FIM                                96104 non-null int64
NU_LEITOS                               10937 non-null float64
NO_PORTARIA                             94412 non-null object
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')    94805 non-null object
CO_USUARIO                              96104 non-null object
TP_HABILITACAO                          96104 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.6+ MB
None

,CO_UNIDADE,COD_SUB_GRUPO_HABILITACAO,CMTP_INICIO,CMTP_FIM,NU_LEITOS,NO_PORTARIA,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,TP_HABILITACAO
0,3530602080680,2304,102010,999999,NaN,PT SAS 565,21/10/2010,999999,H
1,5107903485986,405,112010,999999,NaN,PT GM 3440,16/11/2010,999999,H
2,4111802780143,405,112010,999999,NaN,PT GM 3440,16/11/2010,999999,H
3,5201102371553,405,102006,999999,NaN,GM2478,31/12/2010,999999,H
4,4310202260204,2202,52011,999999,NaN,SAS 192,08/06/2011,999999,H

In [39]:
print(tbLeito202004.info())
tbLeito202004.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
CO_LEITO    68 non-null int64
DS_LEITO    68 non-null object
TP_LEITO    68 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.7+ KB
None

   CO_LEITO            DS_LEITO  TP_LEITO
0         1  BUCO MAXILO FACIAL         1
1         2         CARDIOLOGIA         1
2         3      CIRURGIA GERAL         1
3         4      ENDOCRINOLOGIA         1
4         5   GASTROENTEROLOGIA         1

In [40]:
rlEstabComplementar202004.head()

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,3550302752077,10,4,NaN,12,NaN,4,21/08/2019,CADASTRO,29/01/2014
1,3550302752077,13,1,NaN,15,NaN,8,21/08/2019,CADASTRO,29/01/2014
2,4106903000885,5,1,NaN,10,NaN,0,12/08/2019,JACQUES,24/12/2012
3,4106903000885,7,7,NaN,7,NaN,0,12/08/2019,JACQUES,24/12/2012
4,4106903000885,9,1,NaN,5,NaN,0,12/08/2019,JACQUES,24/12/2012

In [41]:
list(rlEstabComplementar202004.filter(like=r'DD/MM/YYYY', axis=1).columns)
# rlEstabComplementar202004['TO_CHAR(DT_ATUALIZACAO,\'DD/MM/YYYY'\)'] = pd.to_datatime()

["TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",
 "TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"]

In [42]:
time_columns = list(rlEstabComplementar202004.filter(like=r'DD/MM/YYYY', axis=1).columns)
print(time_columns)
rlEstabComplementar202004[time_columns] = rlEstabComplementar202004[time_columns].apply(lambda i: pd.to_datetime(i, format="%d/%m/%Y"))
rlEstabComplementar202004.info()

["TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')", "TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56217 entries, 0 to 56216
Data columns (total 10 columns):
CO_UNIDADE                                     56217 non-null object
CO_LEITO                                       56217 non-null int64
CO_TIPO_LEITO                                  56217 non-null int64
TP_ALTACOMP                                    0 non-null float64
QT_EXIST                                       56217 non-null int64
QT_CONTR                                       81 non-null float64
QT_SUS                                         56217 non-null int64
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')           56172 non-null datetime64[ns]
CO_USUARIO                                     56149 non-null object
TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')    56217 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(4), object(2)
memory usage: 4.3+ MB

In [43]:
abril_rlEstabComplementar202004 = rlEstabComplementar202004[\
                                    (rlEstabComplementar202004["TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')"] > "04/01/2020") & \
                                    (rlEstabComplementar202004["TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')"] < "05/01/2020")]\
                                    .copy()
abril_rlEstabComplementar202004.head()

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
23,3550302084473,74,3,NaN,5,NaN,5,2020-04-02,HMIPG,2014-01-29
25,3550302084473,3,1,NaN,12,NaN,12,2020-04-02,HMIPG,2014-01-29
26,3550302084473,6,1,NaN,2,NaN,2,2020-04-02,RODRIGO,2014-01-29
27,3550302084473,33,2,NaN,47,NaN,47,2020-04-02,HMIPG,2014-01-29
29,3550302084473,45,5,NaN,4,NaN,4,2020-04-02,HMIPG,2014-01-29

In [44]:
abril_rlEstabComplementar202004['mes'] = rlEstabComplementar202004["TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')"].dt.month
abril_rlEstabComplementar202004.head()

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')",mes
23,3550302084473,74,3,NaN,5,NaN,5,2020-04-02,HMIPG,2014-01-29,4.0
25,3550302084473,3,1,NaN,12,NaN,12,2020-04-02,HMIPG,2014-01-29,4.0
26,3550302084473,6,1,NaN,2,NaN,2,2020-04-02,RODRIGO,2014-01-29,4.0
27,3550302084473,33,2,NaN,47,NaN,47,2020-04-02,HMIPG,2014-01-29,4.0
29,3550302084473,45,5,NaN,4,NaN,4,2020-04-02,HMIPG,2014-01-29,4.0

In [45]:
tbLeito202004.head(70)

    CO_LEITO                                           DS_LEITO  TP_LEITO
0          1                                 BUCO MAXILO FACIAL         1
1          2                                        CARDIOLOGIA         1
2          3                                     CIRURGIA GERAL         1
3          4                                     ENDOCRINOLOGIA         1
4          5                                  GASTROENTEROLOGIA         1
5          6                                        GINECOLOGIA         1
6          7                  CIRURGICO/DIAGNOSTICO/TERAPEUTICO         7
7          8                                 NEFROLOGIAUROLOGIA         1
8          9                                      NEUROCIRURGIA         1
9         10                              OBSTETRICIA CIRURGICA         4
10        11                                       OFTALMOLOGIA         1
11        12                                          ONCOLOGIA         1
12        13                             ORTOPEDIATRAUMATOLOGIA         1
13        14                               OTORRINOLARINGOLOGIA         1
14        15                                           PLASTICA         1
15        16                                           TORACICA         1
16        31                                               AIDS         2
17        32                                        CARDIOLOGIA         2
18        33                                      CLINICA GERAL         2
19        34                                           CRONICOS         6
20        35                                       DERMATOLOGIA         2
21        36                                          GERIATRIA         2
22        37                                       HANSENOLOGIA         2
23        38                                        HEMATOLOGIA         2
24        40                                      NEFROUROLOGIA         2
25        41                                       NEONATOLOGIA         2
26        42                                         NEUROLOGIA         2
27        43                                OBSTETRICIA CLINICA         4
28        44                                          ONCOLOGIA         2
29        45                                  PEDIATRIA CLINICA         5
30        46                                        PNEUMOLOGIA         2
31        47                                        PSIQUIATRIA         6
32        48                                       REABILITACAO         6
33        49                              PNEUMOLOGIA SANITARIA         6
34        64                              UNIDADE INTERMEDIARIA         3
35        65                     UNIDADE INTERMEDIARIA NEONATAL         3
36        66                                 UNIDADE ISOLAMENTO         3
37        67                                        TRANSPLANTE         1
38        68                                PEDIATRIA CIRURGICA         5
39        69                                               AIDS         7
40        70                                    FIBROSE CISTICA         7
41        71                     INTERCORRENCIA POS-TRANSPLANTE         7
42        72                                          GERIATRIA         7
43        73                                       SAUDE MENTAL         7
44        74                                UTI ADULTO - TIPO I         3
45        75                               UTI ADULTO - TIPO II         3
46        76                              UTI ADULTO - TIPO III         3
47        77                            UTI PEDIATRICA - TIPO I         3
48        78                           UTI PEDIATRICA - TIPO II         3
49        79                          UTI PEDIATRICA - TIPO III         3
50        80                              UTI NEONATAL - TIPO I         3
51        81                             UTI NEONATAL - TIPO II         3
52        82                            UTI NEONATAL - TIPO III         3
53        83                                   UTI DE QUEIMADOS         3
54        84                                ACOLHIMENTO NOTURNO         6
55        85              UTI CORONARIANA TIPO II - UCO TIPO II         3
56        86            UTI CORONARIANA TIPO III - UCO TIPO III         3
57        87                                       SAUDE MENTAL         2
58        88                                    QUEIMADO ADULTO         2
59        89                                QUEIMADO PEDIATRICO         2
60        90                                    QUEIMADO ADULTO         1
61        91                                QUEIMADO PEDIATRICO         1
62        92  UNIDADE DE CUIDADOS INTERMEDIARIOS NEONATAL CO...         3
63        93  UNIDADE DE CUIDADOS INTERMEDIARIOS NEONATAL CA...         3
64        94      UNIDADE DE CUIDADOS INTERMEDIARIOS PEDIATRICO         3
65        95          UNIDADE DE CUIDADOS INTERMEDIARIOS ADULTO         3
66        51                           UTI II ADULTO - COVID-19         3
67        52                       UTI II PEDIATRICA - COVID-19         3

In [46]:
abril_rlEstabComplementar202004.groupby("TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')").count()
abril_rlEstabComplementar202004.groupby(["CO_LEITO","TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')"]).count()
abril_rlEstabComplementar202004.groupby(["CO_LEITO","mes"]).count()

,,CO_UNIDADE,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
CO_LEITO,mes,,,,,,,,,
1,4.0,159,159,0,159,0,159,159,159,159
2,4.0,167,167,0,167,0,167,167,167,167
3,4.0,1183,1183,0,1183,2,1183,1183,1183,1183
4,4.0,60,60,0,60,0,60,60,60,60
5,4.0,129,129,0,129,0,129,129,129,129
6,4.0,416,416,0,416,0,416,416,416,416
7,4.0,220,220,0,220,0,220,220,220,220
8,4.0,202,202,0,202,0,202,202,202,202
9,4.0,211,211,0,211,0,211,211,211,211
10,4.0,825,825,0,825,1,825,825,825,825
11,4.0,148,148,0,148,0,148,148,148,148
12,4.0,147,147,0,147,0,147,147,147,147
13,4.0,427,427,0,427,0,427,427,427,427
14,4.0,174,174,0,174,0,174,174,174,174
15,4.0,180,180,0,180,0,180,180,180,180
16,4.0,132,132,0,132,0,132,132,132,132
31,4.0,133,133,0,133,0,133,133,133,133
32,4.0,253,253,0,253,0,253,253,253,253
33,4.0,1557,1557,0,1557,1,1557,1557,1557,1557
34,4.0,191,191,0,191,1,191,191,191,191
35,4.0,67,67,0,67,0,67,67,67,67
36,4.0,78,78,0,78,0,78,78,78,78
37,4.0,19,19,0,19,0,19,19,19,19
38,4.0,118,118,0,118,0,118,118,118,118
40,4.0,194,194,0,194,0,194,194,194,194
41,4.0,154,154,0,154,0,154,154,154,154
42,4.0,192,192,0,192,0,192,192,192,192
43,4.0,961,961,0,961,0,961,961,961,961
44,4.0,176,176,0,176,0,176,176,176,176
45,4.0,1255,1255,0,1255,2,1255,1255,1255,1255
46,4.0,158,158,0,158,0,158,158,158,158
47,4.0,291,291,0,291,0,291,291,291,291
48,4.0,38,38,0,38,0,38,38,38,38
49,4.0,87,87,0,87,0,87,87,87,87
51,4.0,359,359,0,359,0,359,359,359,359
52,4.0,57,57,0,57,0,57,57,57,57
65,4.0,16,16,0,16,0,16,16,16,16
66,4.0,523,523,0,523,0,523,523,523,523
67,4.0,80,80,0,80,0,80,80,80,80
68,4.0,336,336,0,336,0,336,336,336,336
69,4.0,38,38,0,38,0,38,38,38,38
70,4.0,3,3,0,3,0,3,3,3,3
71,4.0,27,27,0,27,0,27,27,27,27
72,4.0,4,4,0,4,0,4,4,4,4
73,4.0,16,16,0,16,0,16,16,16,16
74,4.0,71,71,0,71,0,71,71,71,71
75,4.0,475,475,0,475,0,475,475,475,475
76,4.0,75,75,0,75,0,75,75,75,75
77,4.0,18,18,0,18,0,18,18,18,18
78,4.0,160,160,0,160,0,160,160,160,160
79,4.0,54,54,0,54,0,54,54,54,54
80,4.0,15,15,0,15,0,15,15,15,15
81,4.0,231,231,0,231,0,231,231,231,231
82,4.0,52,52,0,52,0,52,52,52,52
83,4.0,22,22,0,22,0,22,22,22,22
84,4.0,47,47,0,47,0,47,47,47,47
85,4.0,39,39,0,39,0,39,39,39,39
86,4.0,7,7,0,7,0,7,7,7,7
87,4.0,137,137,0,137,0,137,137,137,137
88,4.0,8,8,0,8,0,8,8,8,8
89,4.0,8,8,0,8,0,8,8,8,8
90,4.0,14,14,0,14,0,14,14,14,14
91,4.0,10,10,0,10,0,10,10,10,10
92,4.0,205,205,0,205,0,205,205,205,205
93,4.0,115,115,0,115,0,115,115,115,115
94,4.0,31,31,0,31,0,31,31,31,31
95,4.0,105,105,0,105,0,105,105,105,105